<div class="box wide">
  <h1>About</h1>

  <div class="story_text">

  <p>
    Cookie is a tech community centered around link aggregation. We permit
    discussion of any topic that <em>people in technology might find
    interesting</em>. While that sounds rather vague and might include a
    variety of topics, it reflects the fact that tech includes a variety of
    people!  
  </p>

  <p>
    If you would like an invite, you can request one <a href="https://cookie.sh/invitations/request">here</a>. Alternatively, get in touch with <a href="https://cookie.sh/u/ellie">@ellie</a> on <a href="https://twitter.com/elliebike">Twitter</a>.
  </p>

  <p>
    Please do not:

    <ul>
      <li>be purely negative or non-constructive</li>
      <li>directly attack anyone else</li>
      <li>take yourself too seriously</li>
    </ul>
  </p>

</div>
