<div class="box wide">
  <h1>About</h1>

  <div class="story_text">

  <p>
    Cookie is a tech community centered around link aggregation. We permit
    discussion of any topic that <em>people in technology might find 
      interesting</em>. While that might include a variety of topics, it reflects
    the fact that tech includes a variety of people!
  </p>

</div>
